
.AnimeThumb{
    width: 20%;
    margin-right: 4px;
    height: 100px;
    float: left;
    margin-bottom: 4px;
    margin-left: 2px;
    position: relative;
    background: #1f1f30b0;
    padding: 12px;
    padding-bottom: 50px;
    border-radius: 1px;
    overflow: hidden
}
.AnimeThumb p {
    font-size: 14px;
    position:absolute;
    top: 65%;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    
}
.AnimeThumb p:nth-child(2){
    border-top: 3px solid #29294e;
}
.AnimeThumb p:nth-child(3){
    top: 78%;
    color: grey;
}
.AnimeQualidade{
    position: absolute;
    z-index: 2;
    top: 2%;
    left: 10%;
}
.AnimeQualidade p{
    background-color: #181829;
    padding: 5px 9px 5px 9px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border-radius: 2px;
}
.pimba{
    width: 100%;
    background-color: black;
    position: relative;
    height: 100%;
    overflow: hidden;

    
}
.pimba img{
    height: 200px;
    width: 100%;
    position: absolute;
    transition: 0.4s;
}
.pimba img:hover{
    height: 250px;
    width: 100%;
    
}