.container{
display: flex;
justify-content: flex-start;
width: 100%;

}
.tema{
    background-color: rgba(255, 255, 255, .05);
    color: #ffbe63 !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    font-size: 10px !important;
    padding: 5px 10px;
    margin-bottom: 7px;
    margin-right: 7px;
    border-radius: 40px;
    width: auto !important;
    text-align: center;
}