.animes{
    
    /* background-color: rgba(0, 0, 0, 0.432); */
    border-radius: 20px;
    
}
.anime_box{
    margin: 10px;
    /* background-color: rgb(18, 142, 250); */
    width: 203px;
    height: 310px;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
}
.anime_box img{
    border-radius: 2px;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.anime_over{

    z-index: 3;
    position: absolute;
    top: 7%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    background: linear-gradient(0deg, rgba(2, 0, 36, 0.719) 0%, rgba(9, 9, 121, 0.014) 100%);
    margin-top: 11px;
    width: 100%;
    height: 90%;
    border-radius: 2px;
    
}
.anime_box:hover .anime_infos {
    top: 40%;
    margin-bottom: 1px;
    
}
.anime_botao{
    margin-top: 0px;
    padding: 5px;
    border-radius: 5px;
    color: #27ae60;
    background-color: rgba(0, 0, 0, 0.897);
    text-align: center;
    width: 90%;
    margin-left: 4%;

}

.anime_infos{
    margin-left: 1%;
    z-index: 4;
    position: absolute;
    height: 80%;
    top: 68%;
    transition: 0.3s;
    text-overflow: ellipsis;
    width: 92%;
}
.anime_infos p:first-child{
color: rgb(255, 255, 255);
text-align: center;
}
.anime_infos p:nth-child(3){
    color: rgb(255, 255, 255);
    margin-left: 5%;
    }

    .qualidade_anime{
        position: absolute;
        top: 4%;
        left: 4%;
        padding: 3%;
        border-radius: 2px;
        background-color: #181829;
        z-index: 1;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 13px;
    }
    .anime_box svg {
        position: absolute;
        z-index: 1;
        right: 4%;
        top: 2%;
        font-size: 38px;
        fill: #181829;

    }