.animes{
    display: inline-block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.432);
    padding-right: 12px;
    border-radius: 20px;
    
    
    
}
.anime_box{
    margin: 11px;
    /* background-color: rgb(18, 142, 250); */
    width: 193px;
    border-radius: 5px;
    cursor: pointer;
    
    
}
.anime_box img{
    max-height: 240px;
    border-radius: 5px;
    width: 100%;
    
}
.anime_over{
    z-index: 3;
    position: absolute;
    top: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 900;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.08167016806722693) 35%);
    margin-top: 11px;
    width: 192px;
    height: 92%;
    border-radius: 10px;
    
}
.anime_box:hover .anime_infos {
    top: 40%;
    margin-bottom: 1px;
    
}
.anime_botao{
    margin-top: 0px;
    padding: 5px;
    border-radius: 10px;
    color: green;
    background-color: black;
    text-align: center;
    width: 90%;

}

.anime_infos{
    margin-left: 5px;
    z-index: 4;
    position: absolute;
    height: 80%;
    top: 65%;
    transition: 0.3s;
    text-overflow: ellipsis;
    width: 92%;
    
    

}
.anime_infos p:first-child{

color: rgb(255, 255, 255);
}