.container
{
    margin-left: 4%;
    width: 30%;
    
    
}
.container p {
    text-align: center;
    padding: 1px;
    font-size: 30px;
    background-color: #0f0f2b;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 1px 1px 1px 1px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}