.container{
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    float: left;
}
.min-height{
    min-height: 75%;
}


.start{
    justify-content: flex-start;
}

.column{
    flex-direction: column;
    justify-content: flex-start;
}