.container{
    display: flex;
    background-color: rgb(226, 226, 226);
    width: 18.8%;
    margin: 5px;
    margin-left: 10px;
    max-height: 180px;
}
.container a {
    width: 100%;
}
.container img {
    width: 100%;
    position: relative;
    height: 300px;
    transition: 0.4s ;
    object-fit: cover;
}
.episodeInfos{

    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.308);
    overflow-wrap: break-word;
    position: relative;
    cursor: pointer;
    
    
}
.episodeInfos:hover > img{
    height: 350px;
    
}
.fundoAnime{
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.08167016806722693) 60%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    
}
.fundoAnime svg{
    float: right;
    font-size: 40px;
    margin: 5px;
    fill: #181829;
}
.textosAnime{
    background-color: #232335;
    width: 100%;
    position: absolute;
    height: 30%;
    bottom: 0%;
}
.episodeInfos p{
    margin: 0;
    /* color: rgb(255, 255, 255); */
    position: absolute;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    z-index: 1;
    top: 10%;
    left: 2%;
    
    
}
.episodeInfos p:nth-child(4)
{
    top: 40%;
    font-size: 15px;
    font-weight: 500;
    text-shadow: 2px 1px 2px black;
}
.episodeInfos p:nth-child(2)
{
    text-shadow: 2px 1px 2px black;
    top: 40%;
    font-weight: 400;
}
.episodeInfos p:nth-child(3)
{
    text-shadow: 2px 1px 2px black;
    top: 66%;
    font-weight: 400;
}
.qualidade p {
    top: 8%;
    padding: 5px 8px 5px 8px;
    border-radius: 2px;
    background-color: #181829;
}

@media (max-width: 600px)
{
  .container{
   margin:auto;
   margin-top: 10px;
    width: 77%;
    height: 400px;
    
   }
   .episodeInfos{
       width: 100%;
       height: 100%;
   }
 
}