
.footer_infos{
    float: left;
    border-top: 1px solid rgba(155, 155, 155, 0.151);
    width: 100%;
    margin-top: 1%;
    padding-top: 1%;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    
    
}
.container h3 {
    font-size: 20px;
    color: #FFF;
    font-weight: 500;
    padding: 0;
    margin: 0;
    margin-bottom: 4px;
    font-family: 'Montserrat', sans-serif;
    
}
.container a, small {
 font-size: 13px;
 font-weight: 300; 
 color: rgba(255, 255, 255, .6);
 font-family: 'Montserrat', sans-serif;
 margin-bottom: 3px;
 transition: 0.4s;

}
.container a:hover, small:hover{
    color: rgba(255, 255, 255, 0.918);
}
.footer_navegacao{
    display: flex;
    flex-direction: column;
}
.footer_parceiros{
    display: flex;
    flex-direction: column;
}
.footer_redes{
    display: flex;
    flex-direction: column;
    
}
.footer_redes a{
    background-color: #181829;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: auto;
    text-align: center;
    border-radius: 50px;
    font-weight: 400;
    display: flex;
    align-items: center;
    
}
.footer_redes a:hover{
    background-color: #ffbe63;
    color: #181829;
}
.footer_redes svg{
    font-size: 20px;
    margin-right: 1px;
}
.footer_disclamer{
    width: 11%;
}
.footer_small{
    width: 100%;
    display: flex;
    margin-top: 1%;

}
.footer_small small{
    margin: auto;
}
@media(max-width: 600px){
    .container{
        flex-direction: column;
    }
}