
.footer_infos{
    float: left;
    border-top: 1px solid rgba(155, 155, 155, 0.151);
    width: 100%;
    margin-top: 2%;
}
.footer_redes{
    margin-top: 1%;
    margin-left: 43%;
    font-size: 40px;
}
.footer_redes a {
    margin-left: 20px;
}