/* body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    background: #f0eff2;
    padding-top: 40px;
  }
  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  } */
  
  .searchModule {
    width: 80%;
    color: #252a32;
    overflow: hidden;
    float: left;
  }
  .searchModule input {
    padding: 15px;
    border-radius: 9px;
    outline: none;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    border: 1px solid #363638;
    background-color: #181829;
  }
  .searchModule input:focus {
    border: 1px solid rgb(47, 110, 245);
  }
  .searchModule ul {
    padding: 0;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    margin-top: 1px;
    border-radius: 3px;
    max-height: 310px;
    background-color: #ffffff;
  }

  .searchAnime {
    width: 90%;
    display: flex;
  }
  .searchAnime img{
    width: 12%;
    border: #ffbe63 2px solid;
    border-radius: 3px;
  }
  .searchAnime p {
    display: flex;
    flex: 1;
    color: #ffbe63;
    width: 100%;
    margin: 10px;
    font-size: 20px;
    border-bottom: 1px dashed #c7c0c02c;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  }
  .searchAnime span{
    color: rgb(241, 241, 241);
    margin-right: 3px;
    font-weight: 300;
  }
  .infosAnimes{
    display: flex;
    flex-direction: column;
    
  }
  .infosAnimes p {
    margin: 10px;
    padding: 10px;
  }

  .searchModule ul li {
    padding: 15px;
    background: #181829;
    border-bottom: 1px solid #c7c0c0;
    margin-top: 0.5px;
  }
  
  .searchModule li:hover {
    color: rgb(241, 249, 249);
    border-color: #272736;
    background-color: #272736;
  }