.noticias{
    background-color: #181829;
    width: 70%;
    margin: auto;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.noticias h4{
    border-bottom: 1px solid rgba(155, 155, 155, 0.267);
    padding: 10px;
}
.noticias a {
    text-decoration: none;
    color: gold;
    
}
.noticias p, h4, h5{
margin: 0;

}
.noticias p, h5{
    padding: 9px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 5px;
    
}
.noticias h5{
    font-size: 19px;
}