
.Eps{
  background-color: red;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 5px;


}
.Eps p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
div a {
  text-decoration: none;
}
