.container{
  background-color: #181829;
    width: 65%;
    box-shadow: #00000060 2px 2px 2px;
    text-align: center;
    
    display: flex;
}
.leftform{
  background-color: #181829;
  width: 44%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: #00000060 2px 2px 2px;
}
.animationCanvas{
  border-radius: 1%;
  overflow: hidden;
  background-color: #cccccc;
  width: 85%;
}
.animationCanvas img{

  width: 100%;
}
.formGroup{
   display: block;
   margin-bottom: 5px;
}
.text_success{
  display: flex;
  justify-content: center;
  align-items: center;
}
.text_success svg{
  fill: green;
}
.text_success small{
    color: green !important;
}
.text_error{
  display: flex;
  justify-content: center;
  align-items: center;
}
.text_error small{
    color: red !important;
    
}
.text_error svg{
  fill: red !important;
  
}


.login {
    overflow: hidden;
    background-color: #181829;
    padding: 40px 30px 30px 30px;
    margin: auto;
    width: 400px;
    
}

.login h1{
  color: #ffbe63;
  margin-top: 0;
  font-family: 'Montserrat', Arial, sans-serif;
  }
  .login small{
    color: #ffffff;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: bold;
    }
    .login small:nth-child(4){
      color: white;
      float: right;
      margin-bottom: 5px;
      }
  .login span{
    color: #ffbe63;
  }
.login input {
    color: #ffffff;
    font-family: 'Montserrat', Arial, sans-serif;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: rgba(0, 0, 0, .2);
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 10px -10px;
    border: 1px rgba(128, 128, 128, 0.438) solid;
  }
  .login input::placeholder { 
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: bold;
  }
  
  .botao {
   
    width: 100%;
    cursor: pointer;
    color: #ffbe63;
    font-size: 24px;
    text-transform: uppercase;
    border: 0;
    padding: 10px 10px;
    font-family: 'Montserrat', Arial, sans-serif;
    text-align: center;
    margin-top: 35px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: #00000060 1px 1px 1px;
    font-weight: 800;
    border: 1px rgba(128, 128, 128, 0.438) solid;
    transition: 0.4s;
  }
  
 .login button:disabled,
 .login button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.login button[disabled]:hover{
  background-color: #cccccc;
  color: #666666;
}
.login button:hover{
  background-color: #ffbe63;
  color: #181829;
}
#bottomFormText{
  display: flex;
  flex-direction: column;

}
#bottomFormText small{
  text-align: start;
}

.verificaSenha{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}


@media (max-width: 600px)
  {
    .login{
        margin: 0;
        width: 83%;
    }
  }