.container{
    background-color: #181829;
    width: 70%;
    height: 80vh;
    border-radius: 7px;
    margin: auto;
}
.tab_color {
    width: 10%;
  }
  .tab_color p{
    text-align: center;
      margin: 0;
      padding: 9%;
      transition: 0.3s;
      cursor: pointer;
      font-size: 20px;
  }
  .tab_color p:hover{
      background-color: #0C0C1D;
      color: #eb9a2a;
  }
  .tab_color p svg {
      transition: 0.4s;
      font-size: 16px;
  }
  .tab_color p:hover > svg{
      fill: #eb9a2a;
  }
  .content_tabs{
    width: 71%;
    float: left;
    margin-left: 14px;
    margin-top: 8px;
    
}
.content {
    background: #181829;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 7px;
    
  }
.content h2 {
  padding: 0px 0 5px 0px;
  color: white;
}
.content p {
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, .6);
  display: inline;
}

.active_content {
  display: block;
  
}