*{
    color: white;
}
.container{
    margin-top: 100px;
    width: 80%;
    float: left;
}
.container h1{ 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
color: #530472;;
}
