*{
    color: white;
 
}
.container{
    margin-top: 1px;
    width: 80%;
    float: left;
    margin-left: 9%;

}
.container h1{ 
    font-family: 'Montserrat', sans-serif;
text-align: center;
color: #ffffff;;
margin: auto;
}
.carousel_animes{
    margin-bottom: 2%;
}
.carousel_animes h1{
    margin-bottom: 1%;
}