.PageAnimeContainer{
    float: left;
    width: 100%;
}
.PageAnimeContainer video{
    width: 50%;
    margin-left: 10%;
}
.container{
    float: right;
    background: rgb(8, 8, 29);
    width: 20%;
    margin-right: 19%;
    height: 100%;
    
    
}
.container p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding-bottom: 8px;
  
}
.listaEps{
  
    height: 485px;
    overflow: scroll;
}
.listaEps p{
  margin: 0;
}
#maisEps{
  border-bottom: 1px solid rgba(155, 155, 155, 0.185);
padding-bottom: 10px; 
}

::-webkit-scrollbar {
    width: 10px;
  }
  

  ::-webkit-scrollbar-track {
    background: #0f0f29;
  }
  
 
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  ::-webkit-scrollbar-corner {background-color: transparent;}