.container{


    text-align: center;
    margin: auto;
}
.formGroup{
   display: block;
   margin-bottom: 5px;
}
.text_success small{
    color: green;
}
.text_error small{
    color: red;
    
}


.login {
    overflow: hidden;
    background-color: rgb(4, 32, 110);
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    margin: auto;
    width: 400px;
}
input {
    color: #F73718;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: rgb(41, 5, 75);
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
  }
  
  button {

    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border: 0;
    padding: 10px 10px;

    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: #F73718;
 
  }
  button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}