.container{
    width: 60%;
    margin: auto;
}
.nomeAnime{
    margin-top: 5px;
    background-color: #12122b;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin-bottom: 1%;


}
.fotoAnime{
    border-radius: 10px;
    width: 30%;
    background: #181829;
    float: left;
}
.fotoAnime img{
    border-radius: 10px;
    width: 100%;
}
.sobreAnime{
    margin: auto;
    border-radius: 5px;
    background-color: #FFBE63;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    width: 97%;
}

.sobreAnime p {
    color: #12122b;
    margin: 0px;
    
}
.sobreAnime p:first-child {
    font-size: 30px;

}
.boxInfoAnimes{
    text-align: center;
    width: 30%;
    font-size: 20px;
    background-color: #1F1F30;
    display: inline-block;
    border-radius: 10px;
    margin-right: 5px;
    padding: 1px;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.boxInfoAnimes p {
    margin-bottom: 5px;
    

}
.boxInfoAnimes p:first-child {
    margin-top: 10px;
   color: #FFBE63;

}
.prodAnime{
    border-bottom: 1px solid rgba(155, 155, 155, 0.116);
    
    
}
.prodAnime p{ 
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 0px;
    
}
.prodAnime p:first-child{
    color: #FFBE63;
    margin-bottom: 10px;

    
}
.sinopseAnime{
    float: right;
    width: 69%;
    margin-top: 0px;
    border-radius: 10px;
    background-color: #1f1f3059;
}
.sinopseAnime p,h3{
    margin-left: 2px;
    
}
.episodeosAnime{
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    float: left;
    width: 68%;
    }
    