.container{


    text-align: center;
    margin: auto;
}
.formGroup{
   display: block;
   margin-bottom: 5px;
}
.text_success small{
    color: green;
}
.text_error small{
    color: red;
    
}


.login {
    overflow: hidden;
    background-color: #181829;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    margin: auto;
    width: 400px;
    box-shadow: #00000060 2px 2px 2px;
}
.login input {
    color: #bebebe;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: #22223b;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 10px -10px;
  }
  
  .botao {

    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border: 0;
    padding: 10px 10px;

    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: #290b5a;
    box-shadow: #00000060 1px 1px 1px;
 
  }
 .login button:disabled,
 .login button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.verificaSenha
{
/* adasd */
}