.container{
    width: 70%;
    margin: auto;
}
.nomeAnime{
    margin-top: 5px;
    background-color: #12122b;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 40px;
    margin-bottom: 1%;


}
.fotoAnime{
    border-radius: 8px;
    width: 23.5%;
    background: #181829;
    float: left;
}
.fotoAnime img{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    width: 100%;
}
.sobreAnime{
    margin: auto;
    border-radius: 2px;
    background-color: #ffbe63;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 90%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 10px;
    
}

.sobreAnime p {
    color: #181829;
    margin: 0px;

    
}
.sobreAnime p:nth-child(2){
    font-size: 14px;
    font-weight: 600;
}
.sobreAnime p:nth-child(3){
    margin-left: 8%;
    font-weight: 400;
}
.sobreAnimeTexto svg{
    float: left;
    margin-right: 5px;
    font-size: 20px;
    fill: #181829;
}
.sobreAnimeTexto{
    
    margin-left: 10px;
}
.boxInfoAnimes{
    text-align: center;
    width: 29%;
    font-size: 20px;
    background-color: #1F1F30;
    display: inline-block;
    border-radius: 2px;
    margin-right: 5px;
    padding: 1px;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.boxInfoAnimes p {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 15px;

}
.boxInfoAnimes p:first-child {
    margin-top: 10px;
   color: #FFBE63;

}
.prodAnime{
    border-bottom: 1px solid rgba(155, 155, 155, 0.116);
    
    
}
.prodAnime p{ 
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 12px;
    color: rgba(255, 255, 255, .5);
    
}
.prodAnime p:first-child{
    font-weight: 600;
    font-size: 13px;
    color: #FFBE63;
    margin-bottom: 10px;

    
}
.sinopseAnime{
    float: right;
    width: 74%;
    margin-top: 0px;
    border-radius: 2px;
    background-color: #1f1f3059;
}

.sinopseAnime p,h3{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    margin-left: 5px;
    color: rgba(255, 255, 255, .5);;
   font-size: 12px;
   font-weight: 300;
   
    
}
.sinopseAnime p {
    width: 99%;
}
.sinopseAnime h3{
    margin-top: 5px;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.episodeosAnime{
    margin-top: 10px;
    margin-left: 2.4%;
    border-radius: 10px;
    float: left;
    width: 68%;
    }
    
    @media (max-width: 600px)
    {
        .container
       {
        width: 95%;
       }
       .fotoAnime{
           width: 100%;
       }
       .sinopseAnime{
           margin-top: 10px;
           width: 100%;
       }
       .episodeosAnime{
           margin-left: 0;
       }
     
    }