.PageAnimeContainer{
    float: left;
    margin-top: 1%;
    width: 70%;
    margin-left: 15%;
}
.PageAnimeContainer video{
    width: 100%;
    float: left;

}
.container{
    float: right;
    background: #1f1f30;
    width: 21%;
    margin-right: 0%;
    margin-left: 1px;
    border-radius: 4px;
    height:60.6vh;
    overflow: hidden;
    
}
.container p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding-bottom: 8px;
}
.listaEps{
    height: 57.2vh;
    overflow: scroll;
}
.listaEps p{
  margin: 0;
}
#maisEps{
  border-bottom: 1px solid rgba(155, 155, 155, 0.185);
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px 0px 15px 8px; 
  background-color: #181829;;
font-weight: 400;;
font-size: 14px;

}



::-webkit-scrollbar {
    width: 1px;
  }
  

  ::-webkit-scrollbar-track {
    background: #181829;
  }
  
 
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  ::-webkit-scrollbar-corner {background-color: transparent;}

  @media (max-width: 800px)
{
   
  .PageAnimeContainer{
    width: 95%;
    margin-left: 4%;
    
  }
  .container{
    margin-top: 10px;
    width: 95%;
    float: left;
  }
 
}