.PageAnimeContainer{
    /* float: left; */
    display: flex; /* Novo */
    margin-top: 1%;
    width: 70%;
    margin-left: 15%;
    
}
.PageAnimeContainer video{
    width: 100%;
    /* float: left; */

}
.container{
    /* float: right; */
    background: #1f1f30;
    width: 21%;
    margin-right: 0%;
    margin-left: 10px; /** era 1px **/
    border-radius: 4px;
    height:60.6vh;
    overflow: hidden;
    
}
.container p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding-bottom: 8px;
}
.buscarEp{
  display: flex;
  align-items: center;
}
.buscarEp svg{
  font-size: 30px;
}
.buscarEp input {
  padding: 5px;
  width: 85%;
  font-family: 'Open Sans', sans-serif;
  color: rgb(255, 255, 255);
  background-color: #1f1f30;
  border: none;

}
.listaEps{
    height: 57.2vh;
    overflow: scroll;
}
.listaEps p{
  margin: 0;
}
#maisEps{
  border-bottom: 1px solid rgba(155, 155, 155, 0.185);
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px 0px 15px 8px; 
  background-color: #181829;;
font-weight: 400;;
font-size: 14px;

}
.BaixoContainer{
  width: 55%;
  margin-left: 15%;
  margin-top: 5px;
}
.baixoEpisodios {
  display: flex;
}
.baixoEpisodios p {
  margin: 0;
  padding: 5px 10px 5px 10px;
  background: #181829;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}
.baixoEpisodios p:first-child {
  border-right: 1px rgba(122, 122, 122, 0.253) solid;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.baixoEpisodios p:nth-child(2) {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  margin-right: 10px;
}
.baixoEpisodios p svg{
 font-size: 30px;
}
.baixoEpisodios p:hover {

  background: #242433;

}
.UtilEpisodios{
display: flex;
font-size: 15px;
}
.UtilEpisodios p{
  border-radius: 3px;
  
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.UtilEpisodios p:first-child{
  background: white;
  color: red;
  margin-right: 10px;
  }
  .UtilEpisodios p:first-child:hover{
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    fill: white;
    }

  .UtilEpisodios p:first-child svg{
    fill: red;
    font-size: 20px;
    transition: 0.1s;
    }
    .UtilEpisodios p:first-child:hover > svg{

      fill: white;
      }
      .UtilEpisodios p:nth-child(2) svg{
        fill: rgb(255, 145, 0);
      }


::-webkit-scrollbar {
    width: 1px;
  }
  

  ::-webkit-scrollbar-track {
    background: #181829;
  }
  
 
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  ::-webkit-scrollbar-corner {background-color: transparent;}

  @media (max-width: 800px)
{
   
  .PageAnimeContainer{
    width: 95%;
    margin-left: 4%;
    flex-direction: column;
  }
  .container{
    margin-top: 10px;
    width: 94%;
    margin-bottom: 5px;
    /* float: left; */
  }
  .BaixoContainer{
    margin: auto;
    width: 89%;
  }
 
}