.PageAnimeContainer{
    /* float: left; */
    display: flex; /* Novo */
    margin-top: 1%;
    width: 70%;
    margin-left: 15%;
    
}
.PageAnimeContainer video{
    width: 100%;
    /* float: left; */

}
.container{
    /* float: right; */
    background: #1f1f30;
    width: 21%;
    margin-right: 0%;
    margin-left: 10px; /** era 1px **/
    border-radius: 4px;
    height:595px;
    overflow: hidden;
    
}
.container p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding-bottom: 8px;
}
.buscarEp{
  display: flex;
  align-items: center;
}
.buscarEp svg{
  font-size: 30px;
}
.buscarEp input {
  padding: 5px;
  width: 85%;
  font-family: 'Open Sans', sans-serif;
  color: rgb(255, 255, 255);
  background-color: #1f1f30;
  border: none;

}
.listaEps{
    height: 100%;
    overflow: scroll;
}
.listaEps p{
  margin: 0;
}

#maisEps{
  border-bottom: 1px solid rgba(155, 155, 155, 0.185);
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px 0px 15px 8px; 
  background-color: #181829;;
font-weight: 400;;
font-size: 14px;

}
.BaixoContainer{
  width: 55%;
  margin-left: 15%;
  margin-top: 5px;
}
.baixoEpisodios {
  display: flex;
}
.ListarEps{
  display: flex;
  margin-right: 10px;
}
.baixoEpisodios p {
  margin: 0;
  padding: 5px 10px 5px 10px;
  background: #181829;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}
.baixoEpisodios p:first-child {
  border-right: 1px rgba(122, 122, 122, 0.253) solid;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.baixoEpisodios p:nth-child(2) {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  margin-right: 10px;
}
.baixoEpisodios p svg{
 font-size: 30px;
}
.baixoEpisodios p:hover {

  background: #242433;

}
.UtilEpisodios a{
display: flex;
font-size: 15px;
}
.UtilEpisodios p{
  border-radius: 3px;
  
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.UtilEpisodios p:first-child{
  background: white;
  color: red;
  margin-right: 10px;
  }
  .UtilEpisodios p:first-child:hover{
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    fill: white;
    }

  .UtilEpisodios p:first-child svg{
    fill: red;
    font-size: 20px;
    transition: 0.1s;
    }
    .UtilEpisodios p:first-child:hover > svg{

      fill: white;
      }
      .UtilEpisodios p:nth-child(2) svg{
        fill: rgb(255, 145, 0);
      }

      .CometariosContainer{
        width: 55%;
        margin-left: 15%;
        display: flex;
        flex-direction: column;
      }
      #botaoComentarios{
        display: flex;

      }
      #botaoComentarios p{
        display: flex;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        text-align: center;
        justify-content: center;
        background: #181829;
       padding: 10px 15px 10px 15px;
       border-radius: 7px; 
      }
      .secaoComentarios{
        background: #181829;
        border-radius: 4px;
      }
      .InputComentario{

        display: flex;
        align-items: center;
        background-color: #1f1f30;
        width: 100%;
      }
  
      .InputComentario p{
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
      margin-right: 10px;

      }

      .InputComentario img{
        width: 60px;
        margin-right: 5px;
        border-radius: 50px;
        border: goldenrod 1px solid;
        margin: 8px;
      }
      .InputComentarioIn textarea{
        height: 45px;
        width: 95%;
        border-radius: 10px;
        background-color: #181818;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        font-size: 15px;
        border: 1px rgba(128, 128, 128, 0.13) solid;
      }
      .InputComentario p:nth-child(4){ 
        color: rgb(255, 123, 0);
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #181818;
        padding: 10px 15px 10px 15px;
        border-radius: 4px;
        transition: 0.3s;
        cursor: pointer;
      }
      .InputComentario p svg{ 
        fill: rgb(255, 123, 0);;
        margin-right: 4px;
        transition: 0.3s;
      }
      .InputComentario p:nth-child(4):hover{ 
        color: rgb(255, 255, 255);;
        background-color: #f78c00;
  
      }
      .InputComentario p:nth-child(4):hover > svg{ 
        fill: rgb(255, 255, 255);;
  
      }

      .comentario{
        padding: 8px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
      }
      .comentarioHeader{

        background: #181818;
        width: 97%;
        margin: auto;
        padding: 8px;
      }
      .comentarioHeader a {
        display: flex;
        align-items: center;
      }
      .comentarioHeader img{
        width: 60px;
        margin-right: 5px;
        border-radius: 50px;
        border: goldenrod 1px solid;
      }
      .comentarioTexto{
        background-color: #181818;
        width: 99%;
        margin: auto;
        
      }
      .comentarioTexto p {
        padding: 8px;
        margin: 0;
      }

::-webkit-scrollbar {
    width: 1px;
  }
  

  ::-webkit-scrollbar-track {
    background: #181829;
  }
  
 
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  ::-webkit-scrollbar-corner {background-color: transparent;}

  @media (max-width: 800px)
{
   
  .PageAnimeContainer{
    width: 95%;
    margin-left: 4%;
    flex-direction: column;
  }
  .container{
    margin-top: 10px;
    width: 94%;
    margin-bottom: 5px;
    /* float: left; */
  }
  .BaixoContainer{
    margin: auto;
    width: 89%;
  }
  .CometariosContainer{
    width: 97%;
    margin-left: 1%;
  }
 
}