*{
    color: white;
 
}
.container{
    margin-top: 1px;
    width: 70%;
    margin-left: 12%;
    margin: auto;
}
.container h1{ 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #ffffff;;
    margin: auto;
}
.carousel_animes{
    /* Alterar cor de fundo do carousel */
    background-color: #18182900;
    border-radius: 3px;
}
.carousel_animes h1{
    margin-bottom: 1%;
}
.continuarReproducao{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.novosEpisodios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}



.botoesTeste{
    display: flex;
    cursor: pointer;
    border-radius: 8px;
    width: 28%;
    background-color: #181829;
    border-radius: 2px;
    margin-top: 10px;
}
.botoesTeste p {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-right: 0px;
    margin: 0;
    padding: 10px 20px 10px 20px;
    transition: 0.4s;
}
.botoesTeste p:hover{
    background-color: #ffbe63;
    
    
}
.botoesTeste p:first-child {
    color: #151538;
    background-color: #ffbe63;;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

@media (max-width: 600px)
{
  .container
   {
    width: 95%;
   }
 .botoesTeste{
    width: 100%;
 }
}