.DivFoda
{

z-index: 0;
}
.DivFoda{
    position: absolute;
    left: 0%;
}
.DivFoda svg{
    z-index: 1;
    font-size: 30px;
    margin-right: 15px;
    fill: #181818;
    cursor: pointer;
    transition: 0.4s;
}
.DivFoda svg:hover{
    fill: #ffbe63;
}