.container{
    background-color: #181818;
}
.listTemporadas{
    display: flex;
    flex-direction: column;

    
}

.listTemporadas a{
    background-color: #0c0c0c;
    width: 60%;
    margin: auto;
    margin-top: 5px;
    cursor: pointer;
    text-align: center;
    transition: 0.4s;
    
}

.listTemporadas a:hover{
    background-color: #ffbe63;

}