

.favoritar{
    margin: auto;
    width: 96%;
    text-align: center;
}
.favoritar p {
    font-size: 30px;
    margin: auto;
    padding: 5px;
    background-color: #1F1F30;
    cursor: pointer;
    border-radius: 2px;
    transition: 0.4s;
    
    
}
.favoritar p:hover{
    background-color: #ffbe63;
    color: #1F1F30;
}
#favoritado p{
    color: #1F1F30;
    background-color: #ffbe63;
}