.container {
    width: 15%;
}
.AnimeContainer{
    width: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.AnimeContainer img{
    width: 100% !important;
    object-fit: cover;
}