.container {
    width: 100%;

}
.AnimeContainer{
    width: 20%;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    
}
.AnimeContainer:hover > .AnimeOver{
    top: 1%;
}
.AnimeContainer img{
    width: 100% !important;
    object-fit: cover;
}
.AnimeOver{
    top: 60%;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.4s;
    background: linear-gradient(0deg, rgba(2, 0, 36, 0.801) 0%, rgba(9, 9, 121, 0.014) 100%);
}

.AnimeOver p {
    position: absolute;
    top:50%;
    color: red !important;
    font-size: 15px;
    text-align: start;
    margin-left: 4px;
}
.BarraProgresso{
    z-index: 1;
}