.container {
    width: 100%;

}
.AnimeContainer{
    width: 20%;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.AnimeContainer img{
    width: 100% !important;
    object-fit: cover;
}