

.header{
    background-color: #0C0C1D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(155, 155, 155, 0.068);
    margin: auto;
    width: 70%;
    font-weight: 700;
    
}
#lupa {
    font-size: 30px;
    cursor: pointer;
}
#lupa:hover {
    fill: #ffbe63;
    transition: 0.4s;
}

.navegacaoMobile{
    display: none;
}
#navegacao{
    
    display: flex;
    flex-wrap: wrap;
}

.logo{
    max-width: 290px;
}

.item{
    list-style: none;
    margin-right: 50px;
    font-size: 19px;
    
}


.item a {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border-radius: 50px;
    transition: 0.5s;
    

}
.item a:hover {
    
    padding: 5px;
    background-color: #ffbe63;
    color: #0c0c1d;
    
}
.item a svg{
    cursor: pointer;
    transition: 0.5s;
    font-size: 23px;
}
.item a:hover > svg{
    fill: #0c0c1d;
    
}

.avatar{
    margin-top: 10px;
    margin-right: 100px;
    border-radius: 50%;
    min-height: 70px;
    max-height: 70px;
    max-width: 70px;
    min-width: 70px;
    cursor: pointer;
}
.perfil{
    font-size: 30px;
}
.perfil svg{
    float: left;
    margin-top: 25%;
    z-index: 0;
    cursor: pointer;
}
.notificacoes_contador{
    z-index: 1;
    top: 50px;
    left: 1380px;
    position: absolute;
    color: white;

}
.notificacoes_contador p {
    font-size: 10px;
    background-color: red;
    border-radius: 50%;
    padding: 5px;
    
}
@media (max-width: 600px)
{
    .header{
        width: 100%;
    }
    .navegacaoMobile{
        display: block;
        margin-left: 5px;
        margin-right: 7%;
    }
  .logo
   {
    width: 200px;
    margin: auto;
   }
   .item{
    list-style: none;
    display: inline;
    margin-right: 50px;
    font-size: 5px;
    
}
.avatar{
    margin-top: 10px;
    margin-right: 0px;
    max-width: 70px;
    border-radius: 50%;
    cursor: pointer;
}
.usuario{
    width: 20%;
}
.navegacaoMobile svg{ 
    font-size: 25px;
}
.item{
    display: none;
}
#lupa {
    font-size: 20px; 
}
.header svg:nth-child(2){
    font-size: 90px;
}
}

.avatar {
    border: 2px solid #ffbe63;
   width: 100%;
    
}