.noticias{
    background-color: #181829;
    width: 70%;
    margin: auto;
    border-radius: 2px;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: 1.4s;
}
.topBar{
    border-bottom: 1px solid rgba(155, 155, 155, 0.267);
width: 100%;
display: flex;
justify-content: space-between;
}
.topBar svg {
  font-size: 25px;
  padding: 10px;
  padding-bottom: 5px;
  cursor: pointer;
  transition: 0.4s;
}
.topBar svg:hover {
    fill: #ffbe63;
  }
.noticias h4{
   
    padding: 10px;
    padding-bottom: 5px;
}

.noticias a {
    text-decoration: none;
    color: #ffbe63;;
    
}
.noticias p, h4, h5{
margin: 0;

}
.noticias p, h5{
    padding: 9px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, .8);;
    font-weight: 500;
    padding-bottom: 5px;
    
}
.noticias p{
    font-weight: bold;
}
.noticias h5{
    font-size: 19px;
}

@media (max-width: 600px)
{
  .noticias
   {
    width: 95%;
   }
 
}