.container {
    background-color: red;
    width: 70%;
    margin: auto;
    height: 800px;
    display: flex;
}
.imagem{
margin: 10px;
width: 350px;
height: 500px;
}
.imagem img{
    width: 100%;
    height: 100%;
}
.formulario{
    margin: 10px;
}
.formulario form{
    display: flex;
    flex-direction: column;
}
.formulario form input{
    margin-bottom: 10px;
    color: black;
}
.formulario form textarea {
    color: black;
}
.formulario form button{
    color: black;
}
.temporadas{
    padding: 10px;
    background-color: green;
    width: 39.3%;
}